a {
    -webkit-transition: .25s all;
    transition: .25s all;
   }
   .card {
     padding-left:auto;
     padding-right:auto;
     min-height:300px;

     margin-top:110px;
     background-color: #343A40;
    border-radius: 10px;
    
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
    transition: 0.4s ease-out;
   }
   .card:focus, .card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-20px);
    transition: 0.4s ease-out;
   }
   .card-inverse .card-img-overlay {
    background-color: rgba(51, 51, 51, 0.85);
    border-color: rgba(51, 51, 51, 0.85);
   }
   .card-img-top{
     margin-top:10px;
   }
   .col-xs-12{

     text-align:center;
     margin-left:auto;
     margin-right:auto;
   }
   .row{
       
     margin-left:auto;
     margin-right:auto;
   }

   .card-title{
       margin-top: 13px;
       font-size: 30px;
       color: white;
       font-family: 'Indie Flower', cursive;
   }

   .card-text{
    position: absolute;
    top: 110px;
    color: white;
    font-size:18px;
    font-family: 'Neucha', cursive;
   }

   .navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
  }

  .navbar-brand{
      font-size: 29px;
      font-family: 'Euphoria Script', cursive;
  }
  .tags{
        display: flex;
        position: absolute;
        margin: 5px;
        top: 200px;
        justify-content: space-around;
        flex-wrap: wrap;
  }

  .tags span{
      margin:4px;
  }

  .badge{
    font-size: 15px;
    font-family: 'Neucha', cursive;
    color: white;
    background-color: rgb(36, 104, 230);
  }

  .footer_rel {
    position: relative;

  }

.footer {
    position: absolute;
    margin-top: 75px;
    left: 0;
    width: 100%;
    
  }

.footer-heart{
  text-align:center;
  font-family: 'Euphoria Script', cursive;
  font-size:25px;
}

.footer-heart a{border-bottom: 1px solid #23272B;color: #23272B;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}


.social_foot{
    position: absolute;
    left: 0;
    width: 100%;
}