a {
    -webkit-transition: .25s all;
    transition: .25s all;
   }

  body {
    background: url("../body-back.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #git{
    color:#24292E
  }
  
  #twitter{
    color: #1A91DA;
  }
  #medium{
    color: #292929;
  }
  #linkedin{
    color: #0073B2;
  }


  #contactref{
    color:#ffffff;
    font-family: 'Euphoria Script', cursive;
    font-size: 25px;
    background-color: #3b3d3f;
  }

  #contactref:hover{
    color:#ffffff;
    font-family: 'Euphoria Script', cursive;
    font-size: 25px;
    background-color:#2196f3 ;
  }


  .card {
    padding-left:auto;
    padding-right:auto;
    min-height:300px;
    margin-top:60px;
    background-color: #3b3d3f;
    border-radius: 10px;
    box-shadow: 0.5rem 0 0.8rem 0 rgba(41, 46, 35, 0.568);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
  transition: 0.4s ease-out;
  }
  .card:focus, .card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  }
  .card-inverse .card-img-overlay {

  background-color: rgba(51, 51, 51, 0.85);
  border-color: rgba(51, 51, 51, 0.85);
  }

  .col-xs-12{

    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }
  .row{
      
    margin-left:auto;
    margin-right:auto;
  }

  .card-title{
      margin-top: 13px;
      font-size: 30px;
      color: white;
      font-family: 'Indie Flower', cursive;
  }

  .card-text{
  position: absolute;
  top: 110px;
  color: white;
  font-size:18px;
  font-family: 'Neucha', cursive;
  }
  .collapse .navbar-collapse{display: none;}
  .navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
  font-size: 25px;
  color: white;
  
}

  .navbar-brand{
      font-size: 40px;
      font-family: 'Euphoria Script', cursive;
      color: white;
      
  }

  .navbar-brand:hover{
    color: white;
    
}

.navbar-toggler-icon {
  background-image: url(../icon.png);
}

  .tags{
        display: flex;
        position: absolute;
        align-items: center;
        margin: 0 ;
        top: 200px;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap:wrap;
  }

  .tags span{
      margin:4px;
      box-shadow: 0.2rem 0 0 0.2rem rgba(41, 46, 35, 0.568);

  }

  .badge{
    font-size: 15px;
    font-family: 'Neucha', cursive;
    color: white;
    background-color: #2196f3;
    /*background-color:#4B91B5;*/
  }

  .footer_rel {
    position: relative;

  }

.footer {
    position: absolute;
    margin-top: 50px;
    left: 0;
    width: 100%;
    
  }

.footer >i{
  margin-left:10px;
    margin-right:10px;
}

.footer-heart{
  text-align:center;
  font-family: 'Euphoria Script', cursive;
  font-size:25px;
  color: #ffffff;
  text-shadow: 8px 8px 8px #000000;
}

.footer-heart a{border-bottom: 1px solid #23272B;color: #23272B;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}


.social_foot{
    position: absolute;
    margin: 0 auto;
    left: 0;
    text-align:center;
    width: 100%;
}

.social_foot a{
  margin-left:10px;
    margin-right:10px;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
 Multicoloured Hover Variations
*/


#social-git{
  color:#ffffff
}

#social-twi{
  color: #ffffff;
}
#social-med {
  color: #ffffff;
}
#social-lin {
  color: #ffffff;
}