.container-1{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 5%;
}

.container-2{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.button-div{
    margin-top: 8%;
}

.green-border-focus .form-control:focus {
    border: 2px solid #23272B;
    box-shadow: 0 0 0 0.2rem rgba(27, 31, 23, 0.25);
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('Infinity.gif')
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}