/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
     margin-top: 3%;
  color: rgb(243, 243, 243);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(33, 50, 51);
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  margin-top: 6%;

  background-color: #333;
}

body {

  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
 
}

.cover-container h1{
  font-family: 'Neucha';
  font-size: 50px;
}
.cover-container .lead{
  font-family: 'Neucha';
  
}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  
}

.footer-heart{
  text-align:center;
  font-family: 'Euphoria Script', cursive;
  font-size:25px;
}


.footer-heart a{border-bottom: 1px solid #e4e4e4;color: #f4f3fc;padding-bottom: .25em; text-decoration: none;}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}
