.container-1{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
}

.inputfield{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
    
}

.button-div{
    margin-top: 3%;
}

.red-border-focus .form-control:focus {
    border: 2px solid #f10b3d;
    box-shadow: 0 0 0 0.2rem rgba(87, 4, 11, 0.25);

}


.green-border-focus .form-control:focus {
    border: 2px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('Infinity.gif')
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}